<html>

<head>
    <title><%=title%></title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="/stylesheets/sty.css">

    <style>
        #box-shadow {
            border: 1px solid #C4C4C4;
            padding: 0px 30px 5px 30px;
            box-shadow: 0 0 5px 5px;
            color: gray;
            margin: 30px 0px;
        }

        /* html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        } */
    </style>
</head>

<body>
    <div class="d-md-none d-sm-block d-lg-none d-xl-none text-center nav-movlie-color">
        <a class="navbar-brand font-nav-footer-color" href="#">
            <h3><b>SPEED</b>WASH</h3>
        </a>
        </i>
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="#">
                    <li>Home</li>
                </a>
                <a href="#">
                    <li>About</li>
                </a>
                <a href="#">
                    <li>Blog</li>
                </a>
                <a href="#">
                    <li>Outlets</li>
                </a>
                <a href="#">
                    <li>Contect</li>
                </a>
            </ul>
        </div>
    </div>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color nav-mobile nav-color">
        <a class="navbar-brand" href="#">
            <h3><b>SPEED</b>WASH</h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav nav ml-auto text-center ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Outlets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contect</a>
                </li>

            </ul>
            <ul class="navbar-nav nav ml-auto  text-center ">
                <li class="nav-item active">
                    <i class="fas fa-phone-alt"></i>
                    <span class="navbar-brand" style="color: white;">&nbsp&nbsp096-947-2096</span>
                </li>
            </ul>
        </div>
        <!-- <i class="fas fa-phone-alt"></i>
              <span class="navbar-brand" style="color: white;">&nbsp&nbsp096-947-2096</span> -->
    </nav>

    <!--Navbar -->
    <main>

        <div class="container">
            <div class="h1 text-center mt-3"><%=title%></div>

            <div id="map" style="height: 500px;"></div>

            <!-- </div> -->
            <div id="box-shadow" class="row">
                <table class="table table-hover table-responsive-lg justify-content-center">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Province</th>
                            <th scope="col">Contact</th>
                        </tr>
                    </thead>
                    <% posts.values.forEach(function(post){ if(post[0] != undefined && post[1] != undefined && post[2] != undefined){ console.log(typeof post[2]); %>
                    <tbody>
                        <tr>
                            <th scope="row"><%=post[0] %></th>
                            <th><%=post[1] %></th>
                            <th><%=post[2] %></th>
                        </tr>
                    </tbody>
                    <% } });%>
                </table>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="page-footer font-small pt-4 footer-color font-nav-footer-color">
        <!-- Footer Links -->
        <div class="container-fluid text-md-left">

            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-sm-2 col-xl-3  "></div>
                <div class="col-md-3 mt-md-0 mt-3 ">

                    <!-- Content -->
                    <div class="text-mobile-center">
                        <img class="logo" src="/images/SpeedWash.png" alt="">
                    </div>
                    <p class="mt-3">35/35 Mu 13 Bang Phli Yai Sub-district Bang Phli District Samut Prakan 10540</p>
                    <p>View Maps ></p>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-1"></div>
                <div class="col-md-5 mb-md-0 mb-3 ">

                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="icon">
                                    <i style="font-size:36px;" class="fas fa-phone-volume"></i>
                                </div>
                                <div class="contact phone-number">
                                    <div class="col-12">02-316-2430</div>
                                    <div class="col-12">02-316-2430</div>
                                    <div class="col-12">02-316-2430</div>
                                </div>
                            </div>



                        </li>
                        <li class="mt-4">
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/fluent/40/000000/gmail.png" />
                                </div>
                                <div class="">
                                    <div class=" contact">
                                        <div class="col-12">phajidathailand@gmail.com</div>

                                    </div>
                                </div>
                            </div>

                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/line-me.png" />
                                </div>
                                <div class="">
                                    <div class="contact">
                                        <div class="col-12"> @PhajidaGroup</div>

                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/facebook.png" />
                                </div>
                                <div class="">
                                    <div class="contact">
                                        <div class="col-12">SpeedWashLaundryTH</div>

                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <!-- Grid column -->
            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->

    <!-- font -->
    <script src="https://kit.fontawesome.com/7fee7179b9.js" crossorigin="anonymous"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdQCEwdWm7PB6InxPfQ-Xlf6P8Vjer2xk&callback=initMap">
        </script>

    <script>
        (function (exports) {
            "use strict";

            function initMap() {
                var map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 13,
                    center: new google.maps.LatLng(13.66194, 100.6126),
                    mapTypeId: "terrain",
                });

            <% posts.values.forEach(function (post) {
                    if (post[6]) {%>
                    var contentString =
                            '<div id="content">' +
                            '<div id="siteNotice">' +
                            "</div>" +
                            '<h1 id="firstHeading" class="firstHeading">Uluru</h1>' +
                            '<div id="bodyContent">' +
                            "<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large " +
                            "sandstone rock formation in the southern part of the " +
                            "Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) " +
                            "south west of the nearest large town, Alice Springs; 450&#160;km " +
                            "(280&#160;mi) by road. Kata Tjuta and Uluru are the two major " +
                            "features of the Uluru - Kata Tjuta National Park. Uluru is " +
                            "sacred to the Pitjantjatjara and Yankunytjatjara, the " +
                            "Aboriginal people of the area. It has many springs, waterholes, " +
                            "rock caves and ancient paintings. Uluru is listed as a World " +
                            "Heritage Site.</p>" +
                            '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">' +
                            "https://en.wikipedia.org/w/index.php?title=Uluru</a> " +
                            "(last visited June 22, 2009).</p>" +
                            "</div>" +
                            "</div>";
                        var infowindow = new google.maps.InfoWindow({
                            content: contentString
                        });

                        var latLng = new google.maps.LatLng(<%=post[6] %>, <%=post[7] %>);
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                        });
                        marker.addListener("click", function () {
                            infowindow.open(map, marker);
                        });
 <% }
                });%>
        }

            exports.initMap = initMap;
        })((this.window = this.window || {}));
    </script>


</body>

</html>