<!doctype html>
<html lang="en">

<head>
    <title>SpeedWash</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/blog-style.css">
    <link rel="stylesheet" href="stylesheets/navbar-footer-style.css">
</head>

<body>

    <!-- Navbar -->
    <div class="d-md-none d-sm-block d-lg-none d-xl-none text-center nav-movlie-color">
        <a class="navbar-brand font-nav-footer-color p-1 pt-1" href="#">
            <h3><b>SPEED</b>WASH</h3>
        </a>
        </i>
        <div id="menuToggle">
            <input type="checkbox" />
            <span></span>
            <span></span>
            <span></span>
            <ul id="menu">
                <a href="index">
                    <li class="color-link">Home</li>
                </a>
                <a href="about">
                    <li class="color-link">About</li>
                </a>
                <a href="#">
                    <li class="color-link">Blog</li>
                </a>
                <a href="outlet">
                    <li class="color-link">Branches</li>
                </a>
                <a href="contact">
                    <li class="color-link">Contact</li>
                </a>
                <a class="navbar-brand" href="tel:+66834435222">
                    <i class="fas fa-phone-alt size-icon color-link"></i>
                    <b class="color-link">&nbsp&nbsp083-443-5222</b>
                </a>
                <a class="navbar-brand ml-nav translate" id="en" href="#">
                    <b class="color-link">EN &nbsp;|&nbsp; </b>
                </a>
                <a class="navbar-brand ml-nav translate" id="th" href="#">
                    <b class="color-link">TH</b>
                </a>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark default-color nav-mobile nav-color">
        <a class="navbar-brand p-0 pt-1" href="#">
            <h2><b>SPEED</b>WASH</h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
            <ul class="navbar-nav nav ml-auto mr-auto text-center font-menu">
                <li class="nav-item link-menu">
                    <a class="nav-link" href="index">Home
                    </a>
                </li>
                <li class="nav-item link-menu">
                    <a class="nav-link" href="about">About </a>
                </li>
                <li class="nav-item link-menu active">
                    <a class="nav-link font-bold" href="#">Blog</a>
                </li>
                <li class="nav-item link-menu">
                    <a class="nav-link" href="outlet">Branches</a>
                </li>
                <li class="nav-item link-menu">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav nav text-center  ">
                <li class="nav-item active font-menu nav-link ">
                    <i class="fas fa-phone-alt size-icon color-link"></i>
                    <span><a class="navbar-brand" href="tel:+66834435222">
                            <b class="color-link">&nbsp&nbsp083-443-5222</b></a>
                    </span>
                </li>
                <li class="nav-item active font-menu nav-link ">
                    <a class="navbar-brand ml-nav" href="#"><b class="color-link">EN &nbsp;|&nbsp; </b></a>
                    <a class="navbar-brand ml-nav" href="#"><b class="color-link">TH</b></a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid">
        <div class="padding-page">
            <div class="title-blog-padding">
                <div class="title-blog text-center">BLOG</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4 padding-between-box">
                    <div class="box-card">
                        <div class="row">
                            <div class="col-2 padding-img-machine">
                                <img src="images/logo3.png" class="rounded-circle img-border images-machine-small">
                            </div>
                            <div class="col-10 title-speedwash">
                                <a href="https://www.facebook.com/SpeedWashLaundryTH/"><b
                                        class="color-speedwash">SPEEDWASH</b></a>
                                <div class=""><%=post.data[0].created_time%></div>
                            </div>
                        </div>
                        <div class="">
                            <img src="<%=post.data[0].attachments.data[0].media.image.src%>" alt="" class="post-img">
                        </div>
                        <div class="post-text">
                            &emsp;&emsp;<%=post.data[0].message%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 padding-between-box">
                    <div class="box-card">
                        <div class="row">
                            <div class="col-2 padding-img-machine">
                                <img src="images/logo3.png" class="rounded-circle img-border images-machine-small">
                            </div>
                            <div class="col-10 title-speedwash">
                                <a href="https://www.facebook.com/SpeedWashLaundryTH/"><b
                                        class="color-speedwash">SPEEDWASH</b></a>
                                <div class=""><%=post.data[1].created_time%></div>
                            </div>
                        </div>
                        <div class="">
                            <img src="<%=post.data[1].attachments.data[0].media.image.src%>" alt="" class="post-img">
                        </div>
                        <div class="post-text">
                            &emsp;&emsp;<%=post.data[1].message%>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 padding-between-box">
                    <div class="box-card">
                        <div class="row">
                            <div class="col-2 padding-img-machine">
                                <img src="images/logo3.png" class="rounded-circle img-border images-machine-small">
                            </div>
                            <div class="col-10 title-speedwash">
                                <a href="https://www.facebook.com/SpeedWashLaundryTH/"><b
                                        class="color-speedwash">SPEEDWASH</b></a>
                                <div class=""><%=post.data[2].created_time%></div>
                            </div>
                        </div>
                        <div class="">
                            <img src="<%=post.data[2].attachments.data[0].media.image.src%>" alt="" class="post-img">
                        </div>
                        <div class="post-text">
                            &emsp;&emsp;<%=post.data[2].message%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 footer-color font-nav-footer-color font-bold">
        <!-- Footer Links -->
        <div class="container-fluid text-md-left">
            <!-- Grid row -->
            <div class="row">
                <!-- Grid column -->
                <div class="col-sm-2 col-xl-2  "></div>
                <div class="col-md-4 mt-md-0 mt-3">
                    <!-- Content -->
                    <div class="text-mobile-center">
                        <img class="logo" src="images/SpeedWash.png" alt="">
                    </div>
                    <p class="mt-3">35/35 Mu 13 Bang Phli Yai Sub-district Bang Phli District Samut Prakan 10540</p>
                    <a href="outlet" class="view-map">
                        <p>View Maps ></p>
                    </a>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-1"></div>
                <div class="col-md-5 mb-md-0 mb-3 margin-mobile">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="icon">
                                    <i style="font-size:36px;" class="fas fa-phone-volume"></i>
                                </div>
                                <div class="contact phone-number">
                                    <div class="col-12"><a class="nav-link color-link"
                                            href="tel:+6623162430">02-316-2430</a></div>
                                    <div class="col-12"><a class="nav-link color-link"
                                            href="tel:+66834435222">083-443-5222</a></div>
                                    <div class="col-12"><a class="nav-link color-link"
                                            href="tel:+66945459456">094-545-9456</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-4">
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/fluent/40/000000/gmail.png" />
                                </div>
                                <div class="">
                                    <div class=" contact">
                                        <div class="col-12">phajidathailand@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/line-me.png" />
                                </div>
                                <div class="">
                                    <div class="contact">
                                        <div class="col-12"> @PhajidaGroup</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/facebook.png" />
                                </div>
                                <div class="">
                                    <div class="contact">
                                        <div class="col-12">SpeedWashLaundryTH</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->


    <script src="https://kit.fontawesome.com/7fee7179b9.js" crossorigin="anonymous"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="javascripts/index.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdQCEwdWm7PB6InxPfQ-Xlf6P8Vjer2xk&callback=initMap">
        </script>
</body>

</html>