<%- include(`../partials/header`); -%>

    <div class="container-fluid">
        <div class="padding-page">
                <div class="fontTopic">BLOG</div>
            <div class="row">
                <% for(var i=0;i<6;i++) { %>
                <div class="col-sm-12 col-md-12 col-lg-4 padding-between-box">
                    <div class="box-card">
                        <div class="row">
                            <div class="col-2 padding-img-machine">
                                <img src="images/logo3.png" class="rounded-circle img-border images-machine-small">
                            </div>
                            <div class="col-6 title-speedwash">
                                <a href="https://www.facebook.com/SpeedWashLaundryTH/" target="_blank">
                                    <b class="color-speedwash">SPEEDWASH</b></a>
                                <div class=""><%=Date[i]%></div>
                            </div>
                            <div class="col-4 text-center button hover pt-4">
                                <a href="https://www.facebook.com/<%=post.data[i].id%>" target="_blank"><button class="viewpost-btn">View Post</button></a>
                            </div>
                        </div>
                        <div class="">
                            <img src="<%=post.data[i].attachments.data[0].media.image.src%>" alt="" class="post-img">
                        </div>  
                        <div class="post-text blog-seemore">
                            &emsp;&emsp;<%=post.data[i].message%>
                        </div>
                    </div>
                </div>
            <% } %>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <footer class="page-footer font-small pt-4 footer-color font-nav-footer-color font-bold">
        <!-- Footer Links -->
        <div class="container-fluid text-md-left">
            <!-- Grid row -->
            <div class="row font-footer-color">
                <!-- Grid column -->
                <div class="col-sm-2 col-xl-2  "></div>
                <div class="col-md-4 mt-md-0 mt-3">
                    <!-- Content -->
                    <div class="text-mobile-center">
                        <img class="logo" src="images/SpeedWash.png" alt="">
                    </div>
                    <p class="mt-3 font-normal">35/35 Mu 13 Bang Phli Yai Sub-district Bang Phli District Samut Prakan 10540</p>
                    <a href="branches" class="color-viewmap font-normal">
                        <p>VIEW MAP ></p>
                    </a>
                </div>
                <!-- Grid column -->
                <hr class="clearfix w-100 d-md-none pb-3">
                <!-- Grid column -->
                <div class="col-md-1"></div>
                <div class="col-md-5 mb-md-0 mb-3 margin-mobile">
                    <ul class="list-unstyled">
                        <li>
                            <div class="row">
                                <div class="icon">
                                    <i style="font-size:36px;" class="fas fa-phone-volume"></i>
                                </div>
                                <div class="contact phone-number font-normal">
                                    <div class="col-12"><a class="nav-link color-link size-font-contact" href="tel:+6623162430">02-316-2430</a></div>
                                    <div class="col-12"><a class="nav-link color-link size-font-contact" href="tel:+66834435222">083-443-5222</a></div>
                                    <div class="col-12"><a class="nav-link color-link size-font-contact" href="tel:+66945459456">094-545-9456</a></div>
                                </div>
                            </div>
                        </li>
                        <li class="mt-4">
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/fluent/40/000000/gmail.png" />
                                </div>
                                <div class="">
                                    <div class=" contact font-normal">
                                        <div class="col-12 size-font-contact">phajidathailand@gmail.com</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/line-me.png" />
                                </div>
                                <div class="">
                                    <div class="contact font-normal">
                                        <div class="col-12 size-font-contact"> @PhajidaGroup</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <div class="">
                                    <img src="https://img.icons8.com/color/40/000000/facebook.png" />
                                </div>
                                <div class="">
                                    <div class="contact font-normal">
                                        <div class="col-12 size-font-contact">SpeedWashLaundryTH</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->
    
<%- include(`../partials/footer`); -%>