<%- include ../partials/header %>
<!-- Navbar -->
<div class="d-md-none d-sm-block d-lg-none d-xl-none text-center nav-movlie-color">
    <a class="navbar-brand font-nav-footer-color p-1 pt-1" href="#">
        <h3><b>SPEED</b>WASH</h3>
    </a>
    </i>
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu">
            <a href="#">
                <li>Home</li>
            </a>
            <a href="#">
                <li>About</li>
            </a>
            <a href="#">
                <li>Blog</li>
            </a>
            <a href="#">
                <li>Branches</li>
            </a>
            <a href="#">
                <li>Contect</li>
            </a>
        </ul>
    </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark default-color nav-mobile nav-color">
    <a class="navbar-brand p-0 pt-1" href="#">
        <h2><b>SPEED</b>WASH</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav nav ml-auto mr-auto text-center font-menu">
            <li class="nav-item link-menu">
                <a class="nav-link" href="index">Home
                </a>
            </li>
            <li class="nav-item link-menu">
                <a class="nav-link" href="#">About </a>
            </li>
            <li class="nav-item link-menu">
                <a class="nav-link" href="#">Blog</a>
            </li>
            <li class="nav-item link-menu active">
                <a class="nav-link font-bold" href="#">Branches</a>
            </li>
            <li class="nav-item link-menu">
                <a class="nav-link" href="contact">Contact</a>
            </li>
        </ul>
        <ul class="navbar-nav nav text-centers">
            <li class="nav-item active">
                <i class="fas fa-phone-alt size-icon"></i>
                <span class="navbar-brand font-menu"><b>&nbsp&nbsp083-443-5222</b> </span>
                <span class="font-menu"><b>EN | TH</b> </span>
            </li>
        </ul>
    </div>
</nav>
<!-- End Navbar -->

<main>
    <div class="container">
        <div class="h1 text-center mt-3 title padding-branches"><%=title%></div>
        <div id="map" style="height: 500px;"></div>
        <!-- </div> -->
        <div id="box-shadow" class="row">
            <table class="table table-hover table-responsive-lg justify-content-center">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Province</th>
                        <th scope="col">Contact</th>
                    </tr>
                </thead>
                <% posts.values.forEach(function(post){ if(post[0] != undefined && post[1] != undefined && post[2] != undefined){ console.log(typeof post[2]); %>
                <tbody>
                    <tr>
                        <th scope="row"><%=post[0] %></th>
                        <th><%=post[1] %></th>
                        <th><%=post[2] %></th>
                    </tr>
                </tbody>
                <% } });%>
            </table>
        </div>
    </div>
</main>

<!-- Footer -->
<footer class="page-footer font-small pt-4 footer-color font-nav-footer-color font-bold">
    <!-- Footer Links -->
    <div class="container-fluid text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-sm-2 col-xl-2  "></div>
            <div class="col-md-4 mt-md-0 mt-3">
                <!-- Content -->
                <div class="text-mobile-center">
                    <img class="logo" src="images/SpeedWash.png" alt="">
                </div>
                <p class="mt-3">35/35 Mu 13 Bang Phli Yai Sub-district Bang Phli District Samut Prakan 10540</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <div class="col-md-1"></div>
            <div class="col-md-5 mb-md-0 mb-3 margin-mobile">
                <ul class="list-unstyled">
                    <li>
                        <div class="row">
                            <div class="icon">
                                <i style="font-size:36px;" class="fas fa-phone-volume"></i>
                            </div>
                            <div class="contact phone-number">
                                <div class="col-12">02-316-2430</div>
                                <div class="col-12">083-443-5222</div>
                                <div class="col-12">094-545-9456</div>
                            </div>
                        </div>
                    </li>
                    <li class="mt-4">
                        <div class="row">
                            <div class="">
                                <img src="https://img.icons8.com/fluent/40/000000/gmail.png" />
                            </div>
                            <div class="">
                                <div class=" contact">
                                    <div class="col-12">phajidathailand@gmail.com</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="">
                                <img src="https://img.icons8.com/color/40/000000/line-me.png" />
                            </div>
                            <div class="">
                                <div class="contact">
                                    <div class="col-12"> @PhajidaGroup</div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="">
                                <img src="https://img.icons8.com/color/40/000000/facebook.png" />
                            </div>
                            <div class="">
                                <div class="contact">
                                    <div class="col-12">SpeedWashLaundryTH</div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
</footer>
<!-- Footer -->

<script>
    (function (exports) {
        "use strict";
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 11,
                center: new google.maps.LatLng(13.66194, 100.6126),
                mapTypeId: "terrain",
            });
            <% posts.values.forEach(function (post) {
                if (post[6]) {%>
                        var latLng = new google.maps.LatLng(<%=post[6] %>, <%=post[7] %>);
                    var marker = new google.maps.Marker({
                        position: latLng,
                        map: map,
                    });
                    marker.addListener("click", function () {
                        infowindow.open(map, marker);
                    });
            <% }
            });%>
        }
        exports.initMap = initMap;
    })((this.window = this.window || {}));
</script>
<%- include ../partials/footer %>